
{% block breadcrumbbar %}

    {% if breadcrumbs or activecrumb %}
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
        {% for idx, crumb in enumerate(breadcrumbs) %}
            <li><a href="/{{ "/".join(breadcrumbs[:idx+1]) }}">{{ crumb }}</a> <span class="divider">/</span></li>
        {% end %}
        {% if activecrumb %}
            <li class="active"><a href="{{ activecrumb }}">{{ activecrumb }}</a></li>
        {% end %}
        </ul>
    {% end %}

{% end %}

