{% extends "base.html" %}

{% block title %}SVN Repository List{% end %}

{% block toolbar %}
<h3><a href="/">{{ site_title }}</a></h3>
<ul class="nav">
<li><a href="/newrepo">Create Repo</a></li>
</ul>
{% end %}

{% block content %}
    <ul class="breadcrumb">
        <li class="active"><a href="/">Home</a></li>
    </ul>

    <table class="zebra-striped repo-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Changed At</th>
                <th>Last Changed By</th>
                <th>Last Change Message</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
    {% for repo in repos %}
        {% set most_recent_change = repo.get('most_recent_change', {}) %}
        {% set message = most_recent_change.get('message', '') %}
            <tr>
                <td><a href="{{ repo['weburl'] }}trunk">{{ repo['name'] }}</a></td>
                <td>{% raw repo.get('last_changed_date', '').replace(' ', '&nbsp;') %}</td>
                <td>{{ repo.get('last_changed_author', '') }}</td>
                <td>{{ message }}</td>
                <td>
                    <a class="btn" href="/history/{{ repo['name'] }}">Log</a>
                    <!--
                    <a class="btn" href="/newbranch/{{ repo['name'] }}">Branch</a> 
                    -->
                </td>

            </tr>
    {% end %}
        </tbody>
    </table>
{% end %}
