{% extends "base.html" %}

{% block toolbar %}
<h3><a href="/{{ repo['name'] }}">{{ repo['name'] }}</a></h3>
<ul class="nav">
<li><a href="/{{ repo['name'] }}/trunk">Trunk</a></li>
<li><a href="/{{ repo['name'] }}/branches">Branches</a></li>
<li><a href="/{{ repo['name'] }}/tags">Tags</a></li>
<li class="active"><a href="/history/{{ repo['name'] }}">History</a></li>
</ul>
{% end %}

{% block content %}

    <pre>{{ svnurl }}</pre>

    {% include "breadcrumbs.html" %}

    <p><span class="label notice">Cached Results</span>The results on this page are cached for 5 minutes, so don't panic if you don't see your latest commit right away.</p>

<table class="zebra-striped">
    <thead>
        <tr>
            <th>Revision</th>
            <th>Author</th>
            <th>Committed</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log['revision'] }}</td>
            <td>{{ log['author'] }}</td>
            <td>{% raw log['date'].replace(' ', '&nbsp;') %}</td>
            <td>{{ log['message'] }}</td>
        </tr>
        <tr>
            <td colspan="4">
            {% for path in log['paths'] %}
                {{ path['action'] }} {{ path['path'] }}<br />
            {% end %}
            </td>
        </tr>
        <tr style="display: none"> <td colspan="4"> </td> </tr>
        <tr style="background: #DDD"> <td colspan="4"> </td> </tr>
    {% end %}
    </tbody>
</table>

{% end %}
