{% extends "base.html" %}

{% block title %}SVN Repository List{% end %}

{% block content %}
    <ul class="breadcrumb">
        <li class="active"><a href="/">Home</a></li>
    </ul>

    <div>
        <a class="btn" href="/newrepo">Create Repo</a>
    </div>
    <p><span class="label notice">Cached Results</span>The results on this page are cached for 1 hour, so don't panic if you don't see your latest commit right away.</p>
    <table class="zebra-striped repo-list">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Changed At</th>
                <th>Last Changed By</th>
                <th>Last Change Message</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
    {% for repo in repos %}
            <tr>
                <td><a href="{{ repo['weburl'] }}">{{ repo['name'] }}</a></td>
                <td>{% raw repo.get('last_changed_date', '').replace(' ', '&nbsp;') %}</td>
                <td>{{ repo.get('last_changed_author', '') }}</td>
                <td>No message yet ...</td>
                <td>
                    <a class="btn" href="/history/{{ repo['name'] }}">Log</a>
                    <!--
                    <a class="btn" href="/newbranch/{{ repo['name'] }}">Branch</a> 
                    <a class="btn" href="/newtag/{{ repo['name'] }}">Tag</a>
                    -->
                </td>

            </tr>
    {% end %}
        </tbody>
    </table>
{% end %}
