{% extends "base.html" %}

{% block content %}

    <pre>{{ svnurl }}</pre>

    {% include "breadcrumbs.html" %}

<table class="zebra-striped">
    <thead>
        <tr>
            <th>Revision</th>
            <th>Author</th>
            <th>Committed</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log['revision'] }}</td>
            <td>{{ log['author'] }}</td>
            <td>{{ log['date'] }}</td>
            <td>{{ log['message'] }}</td>
        </tr>
        <tr>
            <td colspan="4">
            {% for path in log['paths'] %}
                {{ path['action'] }} {{ path['path'] }}<br />
            {% end %}
            </td>
        </tr>
    {% end %}
    </tbody>
</table>

{% end %}
