{% extends "base.html" %}

{% block title %}SVN Repository &gt; {{ repo['name'] }}{% end %}:

{% block content %}

    <pre>{{ svnurl }}</pre>

    {% if breadcrumbs or activecrumb %}
        <ul class="breadcrumb">
            <li><a href="/">Home</a> <span class="divider">/</span></li>
        {% for idx, crumb in enumerate(breadcrumbs) %}
            <li><a href="/{{ "/".join(breadcrumbs[:idx+1]) }}">{{ crumb }}</a> <span class="divider">/</span></li>
        {% end %}
        {% if activecrumb %}
            <li class="active"><a href="{{ activecrumb }}">{{ activecrumb }}</a></li>
        {% end %}
        </ul>
    {% end %}

    <table class="zebra-striped repo-dir">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Changed At</th>
                <th>Last Changed By</th>
                <th>Last Change Message</th>
            </tr>
        </thead>
        <tbody>
    {% for file in files %}
            <tr>
                <td><a href="{{ file['webpath'] }}">{{ file['name'] }}{% if file.get('kind') == 'dir' %}/{% end %}</a></td>
                <td>{{ file['date'] }}</td>
                <td>{{ file['author'] }}</td>
                <td>No message yet ...</td>
            </tr>
    {% end %}
        </tbody>
    </table>

    {% if readme %}
        <h1>README<h1>
        {% raw readme %}
    {% end %}
{% end %}
