{% extends "base.html" %}

{% block title %}SVN Repository &gt; {{ repo['name'] }}{% end %}:

{% block content %}

    <pre>{{ svnurl }}</pre>

    {% include "breadcrumbs.html" %}

    <table class="zebra-striped repo-dir">
        <thead>
            <tr>
                <th>Name</th>
                <th>Last Changed At</th>
                <th>Last Changed By</th>
                <th>Last Change Message</th>
            </tr>
        </thead>
        <tbody>
    {% for file in files %}
            <tr>
                <td><a href="{{ file['webpath'] }}">{{ file['name'] }}{% if file.get('kind') == 'dir' %}/{% end %}</a></td>
                <td>{{ file['date'] }}</td>
                <td>{{ file['author'] }}</td>
                <td>No message yet ...</td>
            </tr>
    {% end %}
        </tbody>
    </table>

    {% if readme %}
        <h1>README<h1>
        {% raw readme %}
    {% end %}
{% end %}
