{% extends "base.html" %}

{% block toolbar %}
<h3><a href="/{{ repo['name'] }}">{{ repo['name'] }}</a></h3>
<ul class="nav">
<li><a href="/{{ repo['name'] }}/trunk">Trunk</a></li>
<li><a href="/{{ repo['name'] }}/branches">Branches</a></li>
<li><a href="/{{ repo['name'] }}/tags">Tags</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle">New</a>
    <ul class="dropdown-menu">
        <li><a href="/newtag/{{ repo['name'] }}">Tag</a></li>
        <li><a href="/newbranch/{{ repo['name'] }}">Branch</a></li>
    </ul>
</li>
<li class="active"><a href="/history/{{ repo['name'] }}">History</a></li>
</ul>
{% end %}

{% block content %}

    <pre>{{ svnurl }}</pre>

    {% include "breadcrumbs.html" %}


<table class="zebra-striped">
    <thead>
        <tr>
            <th>Revision</th>
            <th>Author</th>
            <th>Committed</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log['revision'] }}</td>
            <td>{{ log['author'] }}</td>
            <td>{% raw log['date'].replace(' ', '&nbsp;') %}</td>
            <td>{{ log['message'] }}</td>
        </tr>
        <tr>
            <td colspan="4">
            {% for path in log['paths'] %}
                {{ path['action'] }} {{ path['path'] }}<br />
            {% end %}
            {% set prev_rev = int(log['revision']) - 1 %}
            <a href="/diff/{{ repo['name'] }}?frev={{ prev_rev }}&trev={{ log['revision'] }}">View Diff</a>
            </td>
        </tr>
        <tr style="display: none"> <td colspan="4"> </td> </tr>
        <tr style="background: #DDD"> <td colspan="4"> </td> </tr>
    {% end %}
    </tbody>
</table>

{% end %}
